.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.drum-pads{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  width: 400px;
  height: 400px;
}

.drum-pad{
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  cursor: pointer;
}
#display{
  width: 400px;
  background-color: rgb(151, 145, 145);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  color: white;
  font-size: 20px;
}